.wallpaper-container{
    position: relative;
}

.wallpaper{
    width: 100%;

}

.cloud1{
    position: absolute;
    left: 37%;
    top: 26%;
    width: 35%;
    animation: cloud 20s linear infinite alternate;
}
@keyframes cloud{
    from{transform: translate(0,0);}
    to{transform: translate(30px, 20px);}    
}
.cloud2{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 15%;
    animation: cloud2 70s linear infinite;
}
@keyframes cloud2 {
    from{ transform: translate(0,0);}
    to{transform: translate(-1388px, 10px);}
}
.branch{
    position: absolute;
    right: 0%;
    top:25%;
    width: 30%;
}
.stars{
    position: absolute;
    top: 0;
    left: 0;
    height:30%;
}
.stars-2{
    position: absolute;
    left: 30%;
    top: 0;
    height:30%;
}
.stars-3{
    position: absolute;
    left: 60%;
    top: 0;
    height:30%;
}
.swan{
    position: absolute;
    right: 0;
    bottom: 10%;
    height: 7%;
    animation: swanMove 150s linear infinite 0.3s;
}
@keyframes swanMove {
    from {transform: translateX(0);}
    to{transform: translateX(-1800px);}
  }
.cherry1{
    position: absolute;
    right: 0;
    top: 40%;
    width: 30%;
    animation: cherry 20s infinite linear;
}

.cherry2{

    position: absolute;
    width: 10%;
    right: 0;
    top: 38%;
    animation: cherry 20s infinite linear;
}
@keyframes cherry{
    from {transform: translate(0,0); }
    to {transform: translate(-50%,50%);}
}